body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #8fe1d9;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header button {
  background-color: #419ed7;
  width: 10%;
  height: 5vh;
  margin-left: 75%;
}
