body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #c1e7e3;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding-left: 1.5vw;
  width: 4.5%;
  height: 6vh;
}

header h1 {
  padding-left: 1vw;
  color: #419ed7;
  font-size: 2.5rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 60%;
}
