body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #c1e7e3;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding-left: 1.5vw;
  width: 4.5%;
  height: 6vh;
}

header h1 {
  padding-left: 1vw;
  color: #419ed7;
  font-size: 2.5rem;
}

.main-section {
  background-color: #add4d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 17%;
  margin-top: 11rem;
}

.container label {
  color: #fff;
  font-size: 1.4rem;
  width: 15%;
  text-align: center;
}

.input {
  border: none;
  width: 85%;
  height: 100%;
  margin-left: 0.5rem;
  color: #3f92c5;
}

.campo {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-section button {
  background-color: #37bd6d;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 10%;
  height: 5vh;
  box-sizing: border-box;
  border: none;
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-top: 4rem;
}

.senha-label {
  color: #419ed7;
  cursor: pointer;
  font-size: 1.5rem;
}

u {
  color: #419ed7;
  margin-top: 8rem;
}

.error-message{
  color: red;
  margin-right: 45%;
  margin-top: 1%;
  font-size: 18px;
}
