body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #c1e7e3;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minhas-vacinas-button {
  background-color: #419ed7;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 10%;
  height: 4.5vh;
  margin-left: 60%;
  box-sizing: border-box;
  border: 1px solid #419ed7;
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.logout-button {
  background-color: #419ed7;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 7%;
  height: 4.5vh;
  margin-left: 2%;
  box-sizing: border-box;
  border: 1px solid #419ed7;
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.logo {
  padding-left: 1.5vw;
  width: 4.5%;
  height: 6vh;
}

header h1 {
  padding-left: 1vw;
  color: #419ed7;
  font-size: 2.5rem;
}

.main-section {
  background-color: #add4d0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 90%;
}

.search-bar {
  width: 93%;
  height: 6%;
  border: none;
  margin-top: 3rem;
  color: #8b8b8b;
  font-size: 1.4rem;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;
}

.card-section {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-vacina {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
}

.card {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 3%;
}

.name {
  color: #3F92C5;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;

}

.date {
  color: #8B8B8B;
  font-size: 10px;
  text-align: center;
}

.imgVacina {
  width: 90%;
  height: 50%;
  padding-top: 3%;
}

.nextDate {
  color: #FD7979;
  font-size: 10px;
  text-align: right;
  padding-top: 3%;
}

.main-section button {
  background-color: #37bd6d;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 10%;
  height: 5vh;
  box-sizing: border-box;
  border: none;
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
