body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #8fe1d9;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding-left: 1.5vw;
  width: 4.5%;
  height: 6vh;
}

header h1 {
  padding-left: 1vw;
  color: #419ed7;
  font-size: 2.5rem;
}

header button {
  background-color: #419ed7;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 10%;
  height: 4.5vh;
  margin-left: 70%;
  box-sizing: border-box;
  border: 1px solid #419ed7;
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-background {
  opacity: 50%;
  fill: solid;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container button {
  background-color: #419ed7;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 20%;
  height: 5vh;
  border: 1px solid #419ed7;
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  margin-top: 10vh;
  cursor: pointer;
}

.main-section h1 {
  font-family: "Averia Libre";
  font-style: normal;
  font-size: 4.5rem;
  text-align: center;
  width: 75%;
  color: #419ed7;
  cursor: pointer;
}
